<div class="row">
  <div class="col-6">
    <h3>Editing Tag</h3>

    <%= render 'form' %>

    <%= link_to 'Show', admin_panel_tag_path(@tag) %> |
    <%= link_to 'Back', admin_panel_tags_path %>
  </div>
</div>
