<div class="row">
  <div class="col-6">
    <h3>Editing Ingredient</h3>

    <%= render 'form' %>

    <%= link_to 'Show', admin_panel_ingredient_path(@ingredient) %> |
    <%= link_to 'Back', admin_panel_ingredients_path %>
  </div>
</div>
