<div class="row">
  <div class="col-6">
    <h3>Editing Category</h3>

    <%= render 'form' %>

    <%= link_to 'Show', admin_panel_category_path(@category) %> |
    <%= link_to 'Back', admin_panel_categories_path %>
  </div>
</div>
